<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil personal</title>
    <link rel="stylesheet" href="/css/about.css">
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Doodle+Triangles&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <!-- Encabezado PRINCIPAL-->
        <h1  >About us</h1>

        <form action="/">
            <input type="text">
            <button>Buscar</button>
        </form>

        <nav>
            <!-- Lista desordenada -->
            <ul>
                <li>
                    <a href="/about-us">About us</a>
                </li>

                <li>
                    <a href="/contact">Contact</a>

                </li>

            </ul>
        </nav>

        <nav>
            <!-- Lista desordenada -->
            <ul>
                <li>
                    <a href="#product">Product</a>
                </li>

                <li>
                    <a href="#">Crea tu cuenta</a>
                </li>

                <li>
                    <a href="#">Inicia Sesion</a>

                </li>

                
                <li>
                    <a href="https://www.google.com/" target="_blank">Ir a google</a>

                </li>

            </ul>
        </nav>


    </header>

    <div class="container">
        <h1>Perfil Profesional - Programación</h1>
      <div class="section-1">
        <div class="profile-info">
          <h2>Información Personal</h2>
          <p><strong>Nombre:</strong> Tu Nombre</p>
          <p><strong>Ubicación:</strong> Tu Ubicación</p>
          <p><strong>Correo Electrónico:</strong> tuemail@example.com</p>
        </div>

        <div class="img-info">
        
                <img title="foto-perfil" src="/img/foto-perfil.jpg" alt="Foto personal" width="200px">
            
        </div>
      </div>
      
        <div class="skills">
          <h2>Habilidades</h2>
          <ul>
            <li>Lenguajes de Programación: HTML, CSS, JavaScript, Java, React.</li>
            <li>Frameworks: React, Angular, Vue.js, Django, Flask, etc.</li>
            <li>Bases de Datos: SQL, MySql</li>
            <li>Herramientas de Control de Versiones: Git, GitHub, Trello.</li>
            <!-- Agrega más habilidades según sea necesario -->
          </ul>
        </div>
      
        <div class="contact-info">
          <h2>Información de Contacto</h2>
          <p><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/tuperfil">linkedin.com/in/tuperfil</a></p>
          <p><strong>GitHub:</strong> <a href="https://github.com/tuusuario">github.com/tuusuario</a></p>
          <!-- Agrega más información de contacto según sea necesario -->
        </div>
      
      </div>
      
    
</body>
</html>